.containerNavBar {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLogo {
    display: flex;
    margin-bottom: 0.5rem;
}

.containerLogo>.title {
    color: #0c2f41;
    font-size: 3.55rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    align-items: center;
}

.containerNavLinks {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    flex-direction: column;
}

.navBarLinks {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    font-weight: calc(2+4);
}

.containerNavLinks > .navBarLinks:hover {
    transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .containerLogo>.title {
        font-size: 3rem;
        margin-left: 0.8rem;
      
    }

    .containerNavBar {
        flex-direction: row;
        justify-content: space-between;
    }

    .containerNavLinks {
        display: none;
    }

}

@media screen and (max-width: 640px) {
    .containerLogo>.title {
        font-size: 40px;
    }
}

@media screen  and (max-width: 375px) {
    .containerLogo>.title {
        font-size: 35px;
    }
    
}
