/* styles.css */

.footer {
  color: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iconLink {
  margin: 0 10px;
}

.icon {
  border-radius: 30%;
  margin: 0 10px;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 18px;
}

.link:hover {
  color: #555;
}

.createdBy {
  margin-top: 10px;
  display: block;
}

/* Stili responsive */
@media screen and (max-width: 768px) {
  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Spazio ridotto nei layout responsivi */
  }

  .iconLink {
    margin: 10px 0;
  }
}
